h1 {
  text-align: center;
}
.photo {
  margin: 10px;
  float: left;
}
h2 {
  text-align: center;
}
.text {
  text-align: center;
}
.table {
  display: table;
  margin: 0 auto;
}
.letter {
  font-size: 150%;
}
